<h2>
  Login
</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="">Username / Email;</label>
  <input type="text" formControlName="username" name="Username" placeholder="Enter username or Email">
  <br>
  <label for="">Password</label>
  <input type="password" formControlName="password" name="Password" placeholder="Enter password">
  <br>
  <label for="">API</label>
  <select formControlName="api">
    <option value="firebase">Firebase</option>
    <option value="other">Other Api</option>
  </select>
  <br>
  <button type="submit">Login</button>
</form>


